body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.CHcontainer {
  display: flex;
  flex: 1;
}

.CHvertical-navbar {
  display: flex;
  flex-direction: column;
  background-color: black;
  padding: 10px;
  justify-content: flex-start;
  align-items: center;
  max-width: fit-content;
  height: 90vh;
  transition: max-width 0.5s ease;
}

.CHnav-button {
  color: white;
  border-radius: 12px;
  background-color: #000000;
  border: none;
  padding: 10px;
  margin: 10px;
  font-size: 18px;
  cursor: pointer;
  white-space: nowrap;
}

.CHnav-button:hover {
  background-color: #0729b3;
}

.CHcontent-container {
  padding: 10px;
  background-color: #4785b846;
  flex: 1;
}

.CHcontent {
  display: inline-flex;
  flex: 1;
}
