body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
  }

  .navbar-containter {
    display: flex;
    background-color: black;
    flex-direction: column;
  }